<div class="center hero-unit">
  <h1>Blog</h1>
  <h2>
     This is the blog page for the
     <a href="https://www.schneier.com/">Schneier on Security</a>
     Websight.
  </h2>

  <%= link_to "Register Now !", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("bruce-blog3.jpg", alt: "Bruce Schneier"), 'https://www.schneier.com/' %>