<% provide(:title, @user.name) %>
<div class = "row">
    <aside class = "span 4">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
                - ( <%= @user.username %> )
            </h1>
        </section>
    </aside>
</div>